<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>shimayell</title>

    <script type="text/javascript" src="/js/shimayell.js"></script>
</head>

<body>
    <h1>shimayell</h1>

    <form>
        <input type="button" id="changingUseSpeechRecognitionButton" value="音声認識 ON にする">
    </form>

    <p>話者選択</p>
    <p>
        <select id="speakerInputedForm">
            <option value="show">しょう</option>
            <option value="haruka">はるか</option>
            <option value="hikari">ひかり</option>
            <option value="takeru">たける</option>
            <option value="santa">サンタ</option>
            <option value="bear">クマ</option>
        </select>
    </p>

    <p>メッセージ</p>
    <p id="comment"></p>
    <form onsubmit="sendMessageToDialogflow(getElementById('messageInputedForm').value); return false;">
        <input type="text" id="messageInputedForm" size="20">
        <input type="submit" value="送信">
    </form>

    <div id="talks">
    </div>
</body>

</html>